<input type="text" #input />
<ul>
    <li class="item" *ngFor="let item of githubers$ | async | items">
        <a routerLink="{{ item.login }}">
            <img
                class="avatar"
                src="{{ item.avatar_url }}"
                alt="{{ item.login }}"
            />
        </a>
        <ul class="userinfo">
            <li>{{ item.login }}</li>
            <li>
                <a href="{{ item.html_url }}">{{ item.html_url }}</a>
            </li>
            <li [appEmphasize]="item">Score: {{ item.score }}</li>
        </ul>
    </li>
</ul>
