:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
input {
    width: 300px;
}
.item {
    display: flex;
    box-sizing: border-box;
    height: 100px;
    list-style-type: none;
    margin-top: 15px;
}
.userinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}
.avatar {
    width: 100px;
}
span {
    display: block;
}
